body {
  margin: 0;
  padding: 0;
  background-color: #0093E9;
  color: #1E1E1F;
  font-family: var(--font-family)
}

code {
  font-family: var(--font-family)
}

:root {
  --margin: 0 24px;
  --position: relative;
  --min-width: 100vh;
  --font-family: 'Montserrat', sans-serif;
}